<%= form_for(@list) do |f| %>
  <fieldset>
    <%= f.text_field :name, placeholder: "Create New List" %>
  </fieldset>
  <fieldset>
    <%= f.submit :style => "display: none" %>
  </fieldset>
<% end %>

<% @lists.each do |list| %>
  <div class="list">
    <%= link_to list.name, list %>
  </div>
<% end %>
