<li>
  <%= form_for([@list, task]) do |f| %>
    <%= f.check_box :status, id: task_for_text(task), checked: task.complete? %>
    <label for="<%= task_for_text(task) %>">
      <span><%= task.description %></span>
    </label>
  <% end %>
</li>
