<% title @task.description %>

<h1 id="task-description"><%= @task.description %></h1>

<button
  data-list-id="<%= @task.list.id %>"
  data-task-id="<%= @task.id %>"
  id="next-task"
>
  Show next task
</button>
