// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

input[type='checkbox'] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

input[type='checkbox'] + label::before {
  content: '⬜';
  margin-right: 10px;
}

input:checked + label {
  &::before {
    content: '✅';
  }
  span {
    text-decoration: line-through;
  }
}

.task__list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.list__nav {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  #list__name {
    flex-grow: 1;
    font-size: 2rem;
    appearance: none;
    border: none;
    display: block;
  }
  &--buttons {
    display: inline-flex;
  }
}

@media (max-width: 500px) {
  .list__nav {
    flex-direction: column;
    h1 {
      margin-bottom: 10px;
    }
  }
}

.list {
  margin-bottom: 1em;
}
